@import "global";

@import "screen/global/*";
@import "screen/layout/*";
@import "screen/modules/*";


@media (min-width: 500px) {
  #education .description {
    width: 85%;
  }
}

@media (min-width: 768px) {
  #education .description {
    width: 85%;
  }
}

@media (min-width: 992px) {
  #education .description {
    width: 87%;
  }
}

@media (min-width: 1200px) {
  #education .description {
    width: 90%;
  }
}