$cPrimary: #195B69;
$cSecondary: #931806;

$cTextHeading: #442D1D;
$cTextPrimary: #151314;
$cTextSecondary: #151314;

$cLink:#195B69;
$cLinkVisited:#333;

$cIcon:#442D1D;

$fa-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts"; //Bootstrap CDN
