#education {
  margin-top: 20px;
  position: relative;
  padding: 1em 0;
  list-style: none;

  li {
    width: 100%;
    z-index: 2;
    position: relative;
    float: left;
  }

  .year {
    width: 10%;
    background: #fff;
    padding: 10px;
    font-weight: 700;
    display: inline-block;
  }

  .description {
    width: 85%;
    display: inline-block;
    background: #eee;
    margin-bottom: 10px;
    position: relative;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;

    h3 {
      font-size: 1.2em;
      margin: 0;
      padding: 0;
      font-weight: 700;
    }

    p {
      margin-top: 5px;
      padding: 0;
    }

    &:after {
      content: '';
      position: absolute;
      top: 15px;
      right: 0;
      left: -16px;
      height: 0;
      width: 0;
      border: solid transparent;
      border-right-color: #eee;
      border-width: 8px;
      pointer-events: none;
    }
  }

  &:before {
    width: 5px;
    height: 100%;
    position: absolute;
    left: 35px;
    top: 0;
    content: ' ';
    display: block;
    background: #32475c;
    background: -moz-linear-gradient(top, #ffffff 0%, #32475c 7%, #32475c 89%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(7%, #32475c), color-stop(89%, #32475c), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(top, #ffffff 0%, #32475c 7%, #32475c 89%, #ffffff 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #32475c 7%, #32475c 89%, #ffffff 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #32475c 7%, #32475c 89%, #ffffff 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #32475c 7%, #32475c 89%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
  }
}