.gallery {
  margin: {
    bottom: $grid-gutter-width;
  }
  .title {
    background: rgba(147, 24, 6, 0.3);
    bottom: 0;
    left: ($grid-gutter-width/2);
    right: ($grid-gutter-width/2);
    padding:0 10px;
    position: absolute;

  }
  h2 {
    margin: 5px 0;
  }
}