.portfolio {
  h1 {
    @at-root {
      small {
        white-space: nowrap;
      }
    }
  }
  .gallery {
    margin: {
      bottom: $grid-gutter-width;
    }

    //col-xs-12 col-sm-6 col-md-4 col-lg-3
    .portfolio-item {

      margin: {
        bottom: $grid-gutter-width/2;
      }
      @include make-xs-column(12);
      @include make-sm-column(6);
      @include make-md-column(4);
      @include make-lg-column(3);

      .title {
        background: rgba(147, 24, 6, 0.85);
        bottom: 0;
        left: ($grid-gutter-width/2);
        right: ($grid-gutter-width/2);
        padding: 0 10px;
        position: absolute;

      }
      h2 {
        color: #fff;
        margin: 5px 0;
        font-size: 24px;

        @include breakpoint(bird) {
          font-size:26px;
        }
        @include breakpoint(cat) {
          font-size:20px;
        }
      }
    }
  }
}