.portfolio {
  h1 {
    @at-root {
      small {
        white-space: nowrap;
      }
    }
  }

  .gallery {
    margin: {
      bottom: $grid-gutter-width;
    }

    .portfolio-item {

      margin: {
        bottom: $grid-gutter-width/2;
      }
      position: relative;

      &:hover {

        & .title {
          background: $cTextHeading;
        }

        &:before {
          border-color: $cTextHeading;
        }
      }

      .title {
        background: rgba(147, 24, 6, 0.85);
        bottom: 0;
        left: ($grid-gutter-width/2);
        right: ($grid-gutter-width/2);
        padding: 0 10px;
        position: absolute;

        @include transition(background 0.3s ease);
      }

      h2 {
        color: #fff;
        margin: 5px 0;
        font-size: 24px;

        @include breakpoint(bird) {
          font-size: 26px;
        }
        @include breakpoint(cat) {
          font-size: 20px;
        }
      }
    }
  }
}