body {
  font-family: 'Open Sans', Arial, Tahoma;
  font-weight: 400;
  color: #363636;
  background: $cPrimary;
}
blockquote {
  font-size: 1em;
}


.container {
  margin-top: 80px;
  margin-bottom: 15px;
  background: #fff;
}